* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* apply styles to header and other elements in the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.note {
    margin-top: 30px;
    float: right;
}

/* apply styles to the a href= */
a {
    color: #ffffff;
    text-decoration: none;
}

/* apply styles to paragraph text font size */
p {
    font-size: 16px;
}
.button-primary {
    background-color: #d9dcd6;
}

.container {
    width: 70%;
    float: left;
    margin-left: 5% !important;
}

.container h4 {
    margin-bottom: 0%;
    font-size: 20px;
}

.container h5 {
    margin-bottom: 0%;
    font-size: 18px;
}

.container2 h5 {
    margin-bottom: 0%;
    font-size: 18px;
}

.providefacts {
    margin-bottom: 10px;
    padding: 25px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:  #2a607c;
    color: #ffffff;
}

/* apply styles to each section element */
.search {
    margin-bottom: 10px;
    padding: 25px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:  #2a607c;
    color: #ffffff;
}

section img {
    max-height: 200px;
}

section h2 h4 {
    margin-bottom: 20px;
    font-size: 30px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: left;
    margin-right: 25px;
}


h5 {
    margin-bottom:  5%;
    font-size: 22px;
}
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

label {
    align-self: center;
}
/* apply styles to the aside elements */
aside { 
    margin-right: 0px;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#2a607c;
    color: #ffffff;
}


 aside h2 {
    margin-bottom: 20px;
    text-align: center;
 }
 aside img {
    display: block;
    margin: 10px auto;
    margin-bottom: 32px;
    max-width: 150px;
 }

 /* apply styles to footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
@media (max-width: 550px) {
    .float-left {
        float: none;    
    }   
    .search {
        overflow: scroll;
    }
    header {
        overflow: scroll;
    }
    footer {
        padding: 50px;

    }
    
    aside {
    display: none;
    }
} 